.imageStyle{
    padding:15px;
    border-radius:25px;
}
.movieBg{
    margin-top:30px;
    background-image: linear-gradient(to right, #021331 , #4fc3f7);
    color:white;
    display:flex;
    font-size:1.25rem;
}
.metaDataStyle{
    margin:20px;
}
.movieBg span{
    color:red;
    font-size:1.3rem;
    font-weight:bold;

}